/* 

 */


body {
    background: black;
    color: white;
}


.prev-button {
    height: 40px;
    width: 60px;
}


.next-button {
    height: 40px;
    width: 60px;
}

.container-little-img {
    display: flex;
    width: 1200px;
}

.card-little-img {
    width: calc(100% / 5);
}
.filter-black {
    filter: brightness(50%);
}

.card-little-img > .little-img {
    height: 200px;
    width: 100%;
}

.card-big-img {
    width: 1200px;
    height: 650px;
}

.big-img {
    width: 100%;
    height: 100%;
}

.mezzo {
    width: 100%;
    display: flex;
    justify-content: center;
}
